@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background: #f3f4f6;
}
